html,body {
    margin: 0%;
    box-sizing: border-box;
   
}

/*Variables*/
:root{
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /*gradient*/

    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/*Variables*/

/*Global Classes*/
a{
    text-decoration: none;
    color: var(--text-gray);
}

ul{
    list-style-type: none;
}

.nav .flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


/*Global Classes*/

/**Navbar**/

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 20vh; /*to create collapsable menu it like cuts off the height and only has a min height*/ 
    overflow: hidden;
    font-family: 'Abel', sans-serif;
    transition: height 1s ease-in-out;
}

.collapse{
   height: 30rem;
}

.nav .nav-brand a{

    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-size: 1.6rem;
    font-family: 'Lexend Exa', sans-serif;
    
}

.nav .nav-link{
    display: flex;
    margin: 0%;
}

.nav .nav-link .nav-item{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-size:1.1rem;
}
.nav .nav-link .nav-item:hover{
   background-color: var(--midnight);
   
}
.nav .nav-link .nav-item:hover a{
   color: var(--white);
    
 }
.nav .nav-menu{
    justify-content: space-between;
}

.nav .social{
    padding: 1.4rem 0rem;
    
}

.nav .social i{
    padding: 0 0.3rem;
}

.nav .social i:hover {
    color: cornflowerblue;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{

    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
    

}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}
/**Navbar**/

/*-------------viewport < 750px--------------*/

@media only screen and (max-width: 750px) 
{
    .nav .nav-menu,.nav .nav-link{
        flex-direction: column;
    }
    .nav .toggle-collapse { 
        display: initial;
    }

}



/*--------x----viewport-----x--------*/
